services:
  processor:
    build:
      context: deploy/
      dockerfile: Dockerfile
    working_dir: /root/video-processor
    command: tail -f /dev/null
    volumes:
      - type: bind
        source: .
        target: /root/video-processor/
    container_name: rs_video_processor
